<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Hello World</h1>
  <h2>This is my first Angular website</h2>
  <h3>My name is {{name}}. I am {{age}} years old. I live in {{location}}</h3>
  <p>{{num1}} + {{num2}} hasilnya adalah {{num1+num2}}</p>
  <p>{{num1}} / {{num2}} hasilnya adalah {{num1/num2}}</p>
  <p>The first item in the array is {{scores[0]}}</p>
  <p>My biodata : {{biodata.name}}, {{biodata.umur}}, {{biodata.location}}</p>
  <p>{{lapar}} dan {{penat}} </p>


<router-outlet></router-outlet>
